<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="thinkbridge">

	<listeners>

		<listener class-name="com.thinkbridge.utilities.Reporting" />

	</listeners>

	<test name="thinkbridge Test">

		<parameter name="browser" value="chrome" />

		<classes>

		<class name="com.thinkbridge.testCases.TC_AccountCreationTest_001" />
		<!--  <class name="com.thinkbridge.testCases.TC_mailVerificationTest_002" />--> 

		</classes>

	</test>

</suite>